[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTpApprover
Comment=KTp Approver
Comment[bs]=KTp potvrđivač
Comment[ca]=Aprovador del KTp
Comment[ca@valencia]=Aprovador del KTp
Comment[cs]=Schvalovač KTp
Comment[da]=KTP godkender
Comment[de]=KTp-Freigabe
Comment[el]=KTp Approver
Comment[en_GB]=KTp Approver
Comment[eo]=KTp-Aprobilo
Comment[es]=Aprobador de Ktp
Comment[et]=KTp heakskiitja
Comment[eu]=KTp onespen-emailea
Comment[fi]=KTp-hyväksyntä (approver)
Comment[fr]=Approbateur de KTp
Comment[gl]=Aceptante de KTp.
Comment[hi]=केटीपी अनुमोदक
Comment[hu]=KTp jóváhagyó
Comment[ia]=KTp Approver
Comment[it]=Approvatore di KTp
Comment[ka]=KTP დამმტკიცებელი
Comment[kk]=KTp мақұлдаушы
Comment[ko]=KTp 승인 도구
Comment[nb]=KTp-Godkjenner
Comment[nds]=KTp-Beglöver
Comment[nl]=Goedkeuringgever van KTp
Comment[nn]=KTp-godkjennar
Comment[pl]=Program zatwierdzający KTp
Comment[pt]=Aprovação do KTp
Comment[pt_BR]=Aprovação KTp
Comment[ro]=KTp Approver
Comment[ru]=Уведомитель KTp
Comment[sk]=KTp schvaľovateľ
Comment[sl]=Odobritelj KTp
Comment[sr]=Телепатијски одобравач
Comment[sr@ijekavian]=Телепатијски одобравач
Comment[sr@ijekavianlatin]=Telepathy odobravač
Comment[sr@latin]=Telepathy odobravač
Comment[sv]=KTp-godkännande
Comment[tr]=KTp Onaylayıcı
Comment[uk]=Підтвердження викликів KTp
Comment[x-test]=xxKTp Approverxx
Comment[zh_CN]=KTp Approver
Comment[zh_TW]=KTp 確認器

[PropertyDef::X-KTp-ChannelType]
Type=QString

[PropertyDef::X-KTp-Service]
Type=QString

[PropertyDef::X-KTp-Preferred-Incoming-Handler]
Type=QString

[PropertyDef::X-KTp-Preferred-Outgoing-Handler]
Type=QString

[PropertyDef::X-KTp-Cancellable]
Type=bool
