[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTpApprover
Comment=KTp Approver
Comment[bs]=KTp Approver
Comment[ca]=Aprovador de KTp
Comment[cs]=Schvalovač KTp
Comment[da]=KTP godkender
Comment[de]=KTp-Freigabe
Comment[es]=Aprobador de Ktp
Comment[fi]=KTp-hyväksyntä (approver)
Comment[gl]=Aprobador de KTp
Comment[hu]=KTp jóváhagyó
Comment[it]=Approvatore di KTp
Comment[kk]=KTp мақұлдаушы
Comment[nl]=Goedkeuringgever van KTp
Comment[pt]=Aprovação do KTp
Comment[pt_BR]=Aprovação KTp
Comment[ru]=Уведомитель KTp
Comment[sk]=KTp schvaľovateľ
Comment[sl]=Odobritelj za KTp
Comment[sr]=Телепатијски одобравач
Comment[sr@ijekavian]=Телепатијски одобравач
Comment[sr@ijekavianlatin]=Telepathy odobravač
Comment[sr@latin]=Telepathy odobravač
Comment[sv]=KTp-godkännande
Comment[tr]=KTp Onaylayıcı
Comment[uk]=Підтвердження викликів KTp
Comment[x-test]=xxKTp Approverxx

[PropertyDef::X-KTp-ChannelType]
Type=QString

[PropertyDef::X-KTp-Service]
Type=QString

[PropertyDef::X-KTp-Preferred-Incoming-Handler]
Type=QString

[PropertyDef::X-KTp-Preferred-Outgoing-Handler]
Type=QString

[PropertyDef::X-KTp-Cancellable]
Type=bool
