[Desktop Entry]
Name=Instant Messaging Approver
Name[ast]=Aprobador de mansaxería nel intre
Name[bs]=Potvrđivač instant poruka
Name[ca]=Aprovador de missatgeria instantània
Name[ca@valencia]=Aprovador de missatgeria instantània
Name[cs]=Schvalovač komunikátoru
Name[da]=Godkender til instant messaging
Name[de]=Instant-Messenger-Zustimmung
Name[el]=Πρόγραμμα έγκρισης στιγμιαίων μηνυμάτων
Name[en_GB]=Instant Messaging Approver
Name[es]=Aprobador de mensajes instantáneos
Name[et]=Kiirsuhtluse märguandja
Name[fi]=Pikaviestinten hyväksyntä
Name[fr]=Approbateur de messagerie instantanée
Name[ga]=Ceadaitheoir Teachtaireachtaí Meandracha
Name[gl]=Aprobación de mensaxería instantánea
Name[hu]=Azonnali üzenetküldési fogadó
Name[ia]=Autorisator de messageria instantanee
Name[it]=Approvatore di messaggistica istantanea
Name[kk]=Лезде хабарласу құптағышы
Name[km]=កម្មវិធី​អនុម័ត​ការ​ផ្ញើ​សារ​បន្ទាន់
Name[ko]=인스턴트 메시지 승인 도구
Name[lt]=Pokalbių patvirtinimas
Name[mr]=त्वरित संदेश प्रमाणित करणारा
Name[nb]=Godkjenner for lynmelding
Name[nds]=Kortnarichten-Beglöver
Name[nl]=Goedkeuringgever van Instant Messaging
Name[pa]=ਤੁਰੰਤ ਸੁਨੇਹੇਦਾਰ ਮਨਜ਼ੂਰਕਰਤਾ
Name[pl]=Program zatwierdzający dla komunikatorów internetowych
Name[pt]=Aprovação das Mensagens Instantâneas
Name[pt_BR]=Aprovação das mensagens instantâneas
Name[ro]=Informator pentru mesageria instantanee
Name[ru]=Уведомления о запросах IM
Name[sk]=Schvaľovateľ instant messagingu
Name[sl]=Odobritelj hipnega sporočanja
Name[sr]=Брзогласнички одобравач
Name[sr@ijekavian]=Брзогласнички одобравач
Name[sr@ijekavianlatin]=Brzoglasnički odobravač
Name[sr@latin]=Brzoglasnički odobravač
Name[sv]=Godkännande av direktmeddelanden
Name[tr]=Anında Mesajlaşma Onaylayıcı
Name[ug]=مۇڭداشقۇ تەستىقلىغۇچ
Name[uk]=Підтверджувач обміну повідомленнями
Name[wa]=Asprouveu di messaedjreye sol moumint
Name[x-test]=xxInstant Messaging Approverxx
Name[zh_CN]=即时通讯接收
Name[zh_TW]=即時訊息確認器
Comment=Shows notifications for incoming IM/Call requests and allows you to open a handler to answer
Comment[ast]=Amuesa notificaciones pa mensaxes/llamaes entrantes y permítete abrir un remanador pa contestar
Comment[bs]=Prikazuje obavještenja za dolazne zahtjeve  IM / poziv i omogućava vam da otvorite rukovaoca da odgovori
Comment[ca]=Mostra les notificacions de les peticions de MI/trucades entrants i permet obrir un gestor per a contestar
Comment[ca@valencia]=Mostra les notificacions de les peticions de MI/trucades entrants i permet obrir un gestor per a contestar
Comment[cs]=Zobrazuje upozornění pro příchozí IM/Hovory a umožňuje vám otevřít správce pro odpověď
Comment[da]=Viser bekendtgørelser for indkommende IM- og opkaldsanmodninger og lader dig åbne en håndtering til at svare med
Comment[de]=Zeigt Benachrichtigungen über eingehende Nachrichten/Anrufe und erlaubt, diese zu beantworten
Comment[el]=Εμφανίζει ειδοποιήσεις για αιτήσεις εισερχόμενων στιγμιαίων μηνυμάτων / κλήσεων και σας επιτρέπει να ανοίξετε ένα χειριστή για να απαντήσετε
Comment[en_GB]=Shows notifications for incoming IM/Call requests and allows you to open a handler to answer
Comment[es]=Muestra notificaciones para las solicitudes de mensajes/llamadas entrantes y le permite abrir un manipulador para responder
Comment[et]=Sisenevate kiirsuhtlus- ja kõnesoovide märguannete näitamine ning neile vastamiseks käitleja avamine
Comment[fi]=Näyttää ilmoituksia saapuvista pikaviesti- tai puhelupyynnöistä ja antaa sinun valita vastauskäsittelijän
Comment[fr]=Affiche des notifications des requêtes entrantes de messagerie instantanée / d'appels et permet d'ouvrir un module de réponse
Comment[gl]=Mostra notificacións de solicitudes entrantes de mensaxería instantánea e e de voz e permite abrir un xestor que responda
Comment[hu]=Értesítéseket jelenít meg bejövő azonnali üzeneteknél és hívásoknál, és lehetővé teszi egy kezelő megnyitását válaszoláshoz
Comment[ia]=Monstra notificationes pro requestas de IM/Appellos in arrivata e permitte te aperir un maneator pro responder
Comment[it]=Mostra le notifiche per messaggi in arrivo e richieste di chiamata e ti permette di aprire un gestore per rispondere
Comment[kk]=Келген ЛХ/Шақыру сұраныс туралы құлақтандыруларды көрсетіп жауап беру
Comment[km]=បង្ហាញ​ការ​ជូន​ដំណឹង​សម្រាប់​ការ​អនុញ្ញាត និង​ការ​ស្នើ IM/Call មកដល់​ដែល​នឹង​បើក​កម្មវិធី​ដោះស្រាយ​ចម្លើយ
Comment[ko]=IM/통화 요청 알림을 표시하고 응답 핸들러 열기
Comment[lt]=Rodo pranešimus įeinančioms IM/Skambučių užklausoms ir leidžia jums atverti valdymo programą atsiliepimui
Comment[nb]=Viser varslinger om innkommende lynmelding/lydanrop så du kan åpne en behandler for å svare
Comment[nds]=Gifft bi ankamen Kortnaricht-/Anroop-Anfragen Bescheed un lett Di en Programm för't Antern opmaken
Comment[nl]=Toont meldingen van binnenkomende IM/telefoonoproep en maakt het mogelijk dat u een antwoorder opent
Comment[pl]=Pokazuje powiadomienia komunikatorów internetowych/żądań rozmowy telefonicznej i pozwala na otwieranie programu obsługującego, aby umożliwić odpowiedź
Comment[pt]=Mostra as notificações dos pedidos de MI/chamadas recebidos e permite-lhe abrir um módulo de resposta
Comment[pt_BR]=Mostra as notificações dos pedidos de MI/chamadas recebidos e permite-lhe abrir um módulo de resposta
Comment[ro]=Arată notificări pentru apelurile și mesajele de intrare și vă permite să deschideți un manipulant pentru a răspunde
Comment[ru]=Показывает уведомления о входящем вызове/запросе обмена сообщениями и позволяет ответить на запрос.
Comment[sk]=Zobrazí upozornenia pre prichádzajúce požiadavky IM/hovorov a umožní vám otvoriť spracovač na odpoveď
Comment[sl]=Prikaže obvestila za dohodne zahteve hipnega sporočanja/klicev in vam dovoli, da odprete ročnik za odgovor
Comment[sr]=Приказује обавештења за долазне ИМ/позивне захтеве и омогућава вам да отворите руковаоца за одговор
Comment[sr@ijekavian]=Приказује обавјештења за долазне ИМ/позивне захтјеве и омогућава вам да отворите руковаоца за одговор
Comment[sr@ijekavianlatin]=Prikazuje obavještenja za dolazne IM/pozivne zahtjeve i omogućava vam da otvorite rukovaoca za odgovor
Comment[sr@latin]=Prikazuje obaveštenja za dolazne IM/pozivne zahteve i omogućava vam da otvorite rukovaoca za odgovor
Comment[sv]=Visar underrättelser för inkommande direktmeddelanden eller samtal och låter dig öppna ett hanteringsverktyg för att svara
Comment[tr]=Gelen IM/Arama istekler için bildirim gösterir ve yanıtlamak için bir işleyici açmanıza izin verir
Comment[uk]=Показує сповіщення щодо вхідних запитів щодо обміну повідомленнями або розмов і надає вам змогу відкрити панель відповіді
Comment[wa]=Moster les notifiaedjes po les dimandes di MSM/houcaedje eyet vs permet di drovi on purnea po responde
Comment[x-test]=xxShows notifications for incoming IM/Call requests and allows you to open a handler to answerxx
Comment[zh_CN]=为收到的即时通讯/呼叫请求显示通知并让您打开处理器回应
Comment[zh_TW]=顯示進來的即時訊息與呼叫要求通知，並允許您開啟相關的處理器來回答。
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kded_ktp_approver
X-KDE-DBus-ModuleName=ktp_approver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
