[Desktop Entry]
Name=Instant Messaging Approver
Name[ca]=Aprovador de missatgeria instantània
Name[cs]=Schvalovač komunikátoru
Name[da]=Godkender til instant messaging
Name[de]=Instant-Messenger-Zustimmung
Name[el]=Πρόγραμμα έγκρισης στιγμιαίων μηνυμάτων
Name[es]=Aprobador de mensajes instantáneos
Name[et]=Kiirsuhtluse märguandja
Name[fi]=Pikaviestinten hyväksyntä
Name[fr]=Approbateur de messagerie instantanée
Name[gl]=Aprovador de mensaxaría instantánea
Name[hu]=Azonnali üzenetküldési fogadó
Name[it]=Approvatore di messaggistica istantanea
Name[km]=កម្មវិធី​អនុម័ត​ការ​ផ្ញើ​សារ​បន្ទាន់
Name[lt]=Tikralaikių pokalbių patvirtintojas
Name[nb]=Godkjenner for lynmelding
Name[nl]=Goedkeuringgever van Instant Messaging
Name[pl]=Program zatwierdzający dla komunikatorów internetowych
Name[pt]=Aprovação das Mensagens Instantâneas
Name[pt_BR]=Aprovação das mensagens instantâneas
Name[ro]=Informator pentru mesageria instantanee
Name[ru]=Система уведомления о запросах IM
Name[sk]=Schvaľovateľ instant messagingu
Name[sr]=Брзогласнички одобравач
Name[sr@ijekavian]=Брзогласнички одобравач
Name[sr@ijekavianlatin]=Brzoglasnički odobravač
Name[sr@latin]=Brzoglasnički odobravač
Name[sv]=Godkännande av direktmeddelanden
Name[uk]=Підтверджувач обміну повідомленнями
Name[x-test]=xxInstant Messaging Approverxx
Name[zh_CN]=即时通讯接收
Name[zh_TW]=即時訊息確認器
Comment=Shows notifications for incoming IM/Call requests and allows you to open a handler to answer
Comment[ca]=Mostra les notificacions de les peticions de MI/trucades entrants i us permet obrir un gestor per contestar
Comment[cs]=Zobrazuje upozornění pro příchozí IM/Hovory a umožňuje Vám otevřít správce pro odpověď
Comment[da]=Viser bekendtgørelser for indkommende IM- og opkaldsanmodninger og lader dig åbne en håndtering til at svare med
Comment[de]=Zeigt Benachrichtigungen über eingehende Nachrichten/Anrufe und erlaubt, diese zu beantworten
Comment[el]=Εμφανίζει ειδοποιήσεις για αιτήσεις εισερχόμενων στιγμιαίων μηνυμάτων / κλήσεων και σας επιτρέπει να ανοίξετε ένα χειριστή για να απαντήσετε
Comment[es]=Muestra notificaciones de solicitudes de mensajes y llamadas y le permite abrir un manipulador para responder.
Comment[et]=Sisenevate kiirsuhtlus- ja kõnesoovide märguannete näitamine ning neile vastamiseks käitleja avamine
Comment[fi]=Näyttää ilmoituksia saapuvista pikaviesti- tai puhelupyynnöistä ja antaa sinun valita vastauskäsittelijän
Comment[fr]=Affiche des notifications des requêtes de MI / d'appels entrants et permet d'ouvrir un module de réponse
Comment[gl]=Mostra notificacións de solicitudes entrantes de mensaxaría instantánea e e de voz e permite abrir un xestor que responda
Comment[hu]=Értesítéseket jelenít meg bejövő azonnali üzeneteknél és hívásoknál, és lehetővé teszi egy kezelő megnyitását válaszoláshoz
Comment[it]=Mostra le notifiche per messaggi in arrivo e richieste di chiamata e ti permette di aprire un gestore per rispondere
Comment[km]=បង្ហាញ​ការ​ជូន​ដំណឹង​សម្រាប់​ការ​អនុញ្ញាត និង​ការ​ស្នើ IM/Call មកដល់​ដែល​នឹង​បើក​កម្មវិធី​ដោះស្រាយ​ចម្លើយ
Comment[lt]=Rodo pranešimus įeinančioms IM/Skambučių užklausoms ir leidžia jums atverti valdymo programą atsiliepimui
Comment[nb]=Viser varslinger om innkommende lynmelding/lydanrop så du kan åpne en behandler for å svare
Comment[nl]=Toont meldingen van binnenkomende IM/telefoonoproep en maakt het mogelijk dat u een antwoorder opent
Comment[pl]=Pokazuje powiadomienia komunikatorów internetowych/żądań rozmowy telefonicznej i pozwala na otwieranie programu obsługującego, aby umożliwić odpowiedź
Comment[pt]=Mostra as notificações dos pedidos de MI/chamadas recebidos e permite-lhe abrir um módulo de resposta
Comment[pt_BR]=Mostra as notificações dos pedidos de MI/chamadas recebidos e permite-lhe abrir um módulo de resposta
Comment[ro]=Arată notificări pentru apelurile și mesajele de intrare și vă permite să deschideți un manipulant pentru a răspunde
Comment[ru]=Показывает уведомления о входящих запросах системы обмена сообщениями и позволяет вам открыть обработчик для ответа
Comment[sk]=Zobrazí upozornenia pre prichádzajúce požiadavky IM/hovorov a umožní vám otvoriť spracovač na odpoveď
Comment[sr]=Приказује обавештења за долазне ИМ/позивне захтеве и омогућава вам да отворите руковаоца за одговор
Comment[sr@ijekavian]=Приказује обавјештења за долазне ИМ/позивне захтјеве и омогућава вам да отворите руковаоца за одговор
Comment[sr@ijekavianlatin]=Prikazuje obavještenja za dolazne IM/pozivne zahtjeve i omogućava vam da otvorite rukovaoca za odgovor
Comment[sr@latin]=Prikazuje obaveštenja za dolazne IM/pozivne zahteve i omogućava vam da otvorite rukovaoca za odgovor
Comment[sv]=Visar underrättelser för inkommande direktmeddelanden eller samtal och låter dig öppna ett hanteringsverktyg för att svara
Comment[uk]=Показує сповіщення щодо вхідних запитів щодо обміну повідомленнями або розмов і надає вам змогу відкрити панель відповіді
Comment[x-test]=xxShows notifications for incoming IM/Call requests and allows you to open a handler to answerxx
Comment[zh_CN]=为收到的即时通讯/呼叫请求显示通知并让您打开处理器回应
Comment[zh_TW]=顯示進來的即時訊息與呼叫要求通知，並允許您開啟相關的處理器來回答。
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=ktp_approver
X-KDE-DBus-ModuleName=ktp_approver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
