[Desktop Entry]
Name=Instant Messaging Approver
Comment=Shows notifications for incoming IM/Call requests and allows you to open a handler to answer
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=ktp_approver
X-KDE-DBus-ModuleName=ktp_approver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
