[D-BUS Service]
Name=org.freedesktop.Telepathy.Client.KDE.Approver
Exec=dbus-send --session --type=method_call --dest=org.kde.kded /kded org.kde.kded.loadModule string:"telepathy_kde_approver"
