[Desktop Entry]
Name=Telepathy KDE Approver
Name[cs]=Schvalovatel KDE Telepathy
Name[da]=Telepathy KDE-godkender
Name[et]=Telepathy KDE heakskiitja
Name[fr]=Approbateur KDE pour Telepathy
Name[hu]=Telepathy KDE Approver
Name[it]=Approvatore KDE di Telepathy
Name[km]= 
Name[nl]=Telepathy KDE goedkeurder
Name[pl]=Program zatwierdzający KDE dla Telepathy
Name[pt]=Aprovador do KDE Telepathy
Name[pt_BR]=Aprovador do KDE Telepathy
Name[sv]=Telepathy KDE-godkännande
Name[uk]=Засіб підтвердження викликів Telepathy у KDE
Name[x-test]=xxTelepathy KDE Approverxx
Comment=Shows notifications for incoming IM/Call requests and allows you to open a handler to answer
Comment[cs]=Zobrazuje upozornění pro příchozí IM/Hovory a umožňuje vám otevřít správce pro odpověď
Comment[da]=Viser bekendtgørelser for indkommende IM- og opkaldsanmodninger og lader dig åbner en håndtering til at svare med
Comment[et]=Sisenevate kiirsuhtlus- ja kõnesoovide märguannete näitamine ning neile vastamiseks käitleja avamine
Comment[fr]=Affiche des notifications des requêtes de MI / d'appels entrants et permet d'ouvrir un module de réponse
Comment[hu]=Értesítéseket jelenít meg bejövő azonnali üzeneteknél és hívásoknál, és lehetővé teszi egy kezelő megnyitását válaszoláshoz
Comment[it]=Mostra le notifiche per messaggi in arrivo e richieste di chiamata e ti permette di aprire un gestore per rispondere
Comment[nl]=Toont meldingen van binnenkomende IM/telefoonoproep en maakt het mogelijk dat u een antwoorder opent
Comment[pl]=Pokazuje powiadomienia komunikatorów internetowych/żądań rozmowy telefonicznej i pozwala na otwieranie programu obsługującego, aby umożliwić odpowiedź
Comment[pt]=Mostra as notificações dos pedidos de MI/chamadas recebidos e permite-lhe abrir um módulo de resposta
Comment[pt_BR]=Mostra as notificações dos pedidos de MI/chamadas recebidos e permite-lhe abrir um módulo de resposta
Comment[sv]=Visar underrättelser för inkommande direktmeddelanden eller samtal och låter dig öppna ett hanteringsverktyg för att svara
Comment[uk]=Показує сповіщення щодо вхідних запитів щодо обміну повідомленнями або розмов і надає вам змогу відкрити панель відповіді
Comment[x-test]=xxShows notifications for incoming IM/Call requests and allows you to open a handler to answerxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=telepathy_kde_approver
X-KDE-DBus-ModuleName=telepathy_kde_approver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
